
anndata==0.10.8
bigstream==3.0.1
cellpose
dask==2024.8.2
harmonypy==0.0.10
matplotlib==3.9.2
monai==1.4.0
napari==0.6.2
nd2==0.10.1
numpy==1.26.4
opencv-python==4.10.0
pandas==2.0.3
scanpy==1.11.4
scikit-image==0.20.0
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
shap==0.48.0
squidpy==1.2.2
tifffile==2025.1.10
torch==2.5.1
umap-learn==0.5.6
xgboost==3.0.4
zarr==2.13.3

